<section id="aboutme" class="min-h-[30rem] flex flex-row justify-center items-center mobile:max-tablet:flex-col mobile:max-tablet:text-center">
    <div class="mobile:max-tablet:mb-8">
        <h1 class="font-extrabold text-5xl text-primary dark:text-primaryDark mobile:max-tablet:text-4xl">
            Sobre Mi
        </h1>
        <hr class="bg-primary h-2 w-20 dark:bg-primaryDark" />
    </div>
    <div class="w-[40%] ml-40 mobile:max-tablet:ml-0 mobile:max-tablet:w-[90%] mobile:max-tablet:text-xl">
        <p class="text-wrap text-primary dark:text-primaryDark">
            Hola! mi nombre es Gonzalo Amaya vivo en Mendoza, Argentina y tengo 24 a침os.
            Mis formacion empezo alla por 2020 de forma autoditacta y sigue hasta el dia de hoy a diario con nuevas tecnologias. 
            Me considero Desarrollador Backend con experiencia en NodeJS y tambien en el ecosistema Java-Spring Boot aunque realizo sistemas full-stack desde la parte del frontend.
            <br>
            <br>
            Tengo experiencia en el ciclo completo de
            desarrollo web, desde la planificaci칩n hasta la implementaci칩n.
            Aporto ocho meses de experiencia laboral como QA tester en una startup de
            recaudaci칩n de fondos, perfeccionando mis habilidades para
            garantizar la calidad del software.

            <br>
            <br>
            Agradezco por tu tiempo de visitar mi portafolio. Cualquier consulta no dudes en contactarme ;).
        </p>
    </div>
</section>
