<section class="min-h-[30rem] flex flex-row justify-center items-center">
    <div>
        <h1 class="font-extrabold text-5xl text-primary dark:text-primaryDark">
            Sobre Mi
        </h1>
        <hr class="bg-primary h-2 w-20 dark:bg-primaryDark" />
    </div>
    <div class="w-[40%] ml-40">
        <p class="text-wrap text-primary dark:text-primaryDark">
            Desarrollador full-stack con experiencia en el ciclo completo de
            desarrollo web, desde la planificación hasta la implementación.
            Aporto ocho meses de experiencia como QA tester en una startup de
            recaudación de fondos, perfeccionando mis habilidades para
            garantizar la calidad del software.
        </p>
    </div>
</section>
