<section id="experience" class="flex flex-row justify-evenly min-h-[20rem] mt-8 mobile:max-desktop:mt-20">
    <div class="">
        <h1 class="font-extrabold text-2xl text-primary dark:text-primaryDark">
            Experiencia
        </h1>
        <hr class="bg-primary h-2 w-20 dark:bg-primaryDark" />
    </div>
    <div class="w-[50%]">
        <div
            class="flex flex-row justify-around mobile:max-tablet:flex-col mobile:max-tablet:justify-start"
        >
            <div>
                <h4
                    class="text-start mr-10 text-2xl font-bold text-primary dark:text-primaryDark"
                >
                    afrus
                </h4>
                <p class="italic text-primary dark:text-primaryDark hidden mobile:max-tablet:block">
                    Julio 2022 - Marzo 2023
                </p>

                <ul class="mt-2 list-disc text-primary dark:text-primaryDark">
                    <li>
                        Redacción la documentación técnica completa de la
                        plataforma
                    </li>
                    <li>
                        Preparación de test manuales y automáticos sobre bugs o
                        nuevos features
                    </li>
                    <li>Resolución de tickets y bugs</li>
                </ul>
            </div>
            <p class="text-end italic text-primary dark:text-primaryDark mobile:max-tablet:hidden">
                Julio 2022 - Marzo 2023
            </p>
        </div>
    </div>
</section>
