---
import {
    IconEmailDark,
    IconGithubDark,
    IconLinkedinDark,
    IconGithubLight,
    IconEmailLight,
    IconLinkedinLight,
} from "../icons/Icons";
---

<footer
    id="contact"
    class="h-[15rem] mt-10 w-full flex flex-row justify-around items-center mobile:max-tablet:flex-col"
>
    <div class="mobile:max-tablet:hidden">
        <span class="text-primary dark:text-primaryDark text-lg"
            >Developed by <b>Gonzalo Amaya</b></span
        >
    </div>
    <div class="flex flex-row justify-around">
        <a href="https://github.com/GonzaaMZ">
            <!-- <img class="h-10 w-10" src="/public/assets/github.png" alt=""> -->
            <IconGithubDark />
            <IconGithubLight />
        </a>
        <a href="https://www.linkedin.com/in/gonzaloamaya/">
            <!-- <img class="h-10 w-10" src="/public/assets/social.png" alt=""> -->
            <IconLinkedinDark />
            <IconLinkedinLight />
        </a>
        <button onclick="myFunction()">
            <!-- <img class="h-10 w-10" src="/public/assets/correo-electronico-vacio.png" alt=""> -->
            <IconEmailDark />
            <IconEmailLight />
        </button>
    </div>

    <div class="hidden mobile:max-tablet:block">
        <span class="text-primary dark:text-primaryDark text-lg"
            >Developed by <b>Gonzalo Amaya</b></span
        >
    </div>
    
</footer>

<script is:inline>
    function myFunction() { 
        // Copy the text inside the text field
        navigator.clipboard.writeText("gonzaloamaya1999@gmail.com");
        
    }
</script>

<style>
    footer {
        background-image: url("/src/assets/Curve-Line.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right;
    }

    a {
        margin: 10px;
    }
</style>
