
<footer class="h-[15rem] mt-10 w-full flex flex-row justify-around items-center">
    <div>
        <span class="text-primary dark:text-primaryDark text-lg">Developed by <b>Gonzalo Amaya</b></span>
    </div>
    <div class="flex flex-row justify-around">
        <a href="">
            <img class="h-10 w-10" src="/public/assets/github.png" alt="">
        </a>
        <a href="">
            <img class="h-10 w-10" src="/public/assets/social.png" alt="">
        </a>
        <a href="">
            <img class="h-10 w-10" src="/public/assets/correo-electronico-vacio.png" alt="">
        </a>
    </div>
</footer>

<style>
    footer {
        background-image: url("/public/assets/Curve-Line.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right;
    }

    a {
        margin: 10px; 
    }
</style>