---
import CardSkill from "../CardSkill.astro";
---

<section id="skills" class="min-h-[30rem] flex flex-col items-center justify-center mt-10 mobile:max-desktop:mt-20">
    <div>
        <h1
            class="font-extrabold text-5xl text-primary dark:text-primaryDark mb-2 mobile:max-tablet:text-4xl"
        >
            Habilidades
        </h1>
        <hr class="bg-primary h-2 w-20 dark:bg-primaryDark" />
    </div>
    <div class="grid grid-cols-4 grid-rows-3 gap-10 mt-10 mobile:max-tablet:grid-cols-1 tablet:max-desktop:grid-cols-2 mobile:max-tablet:grid-rows-12 tablet:max-desktop:grid-rows-6">
        <div>
            <CardSkill title="Java" src="/dist/assets/java-logo-1.png" />
        </div>
        <div>
            <CardSkill title="Spring Boot" src="/dist/assets/spring.svg" />
        </div>
        <div>
            <CardSkill
                title="JavaScript"
                src="/dist/assets/JavaScript-logo.png"
            />
        </div>
        <div>
            <CardSkill title="NodeJs" src="/dist/assets/nodejs-logo.png" />
        </div>
        <div>
            <CardSkill title="Docker" src="/dist/assets/docker-logo.png" />
        </div>
        <div>
            <CardSkill title="ReactJs" src="/dist/assets/react-logo.png" />
        </div>
        <div>
            <CardSkill
                title="Astro"
                src="/dist/assets/astro-icon-light-gradient.png"
            />
        </div>
        <div>
            <CardSkill title="SQL & NoSQL" src="/dist/assets/bd-logo.png" />
        </div>
        <div>
            <CardSkill
                title="Testing Manual & Automatizado"
                src="/dist/assets/tester-logo.png"
            />
        </div>
        <div>
            <CardSkill title="NextJs" src="/dist/assets/next-logo.png" />
        </div>
        <div>
            <CardSkill title="Figma" src="/dist/assets/figma-logo.png" />
        </div>
        <div>
            <CardSkill title="TypeScript" src="/dist/assets/ts-logo.png" />
        </div>
    </div>
</section>
