---
import CardSkill from "../CardSkill.astro";
---

<section id="skills" class="min-h-[30rem] flex flex-col items-center justify-center mt-10 mobile:max-desktop:mt-20">
    <div>
        <h1
            class="font-extrabold text-5xl text-primary dark:text-primaryDark mb-2 mobile:max-tablet:text-4xl"
        >
            Habilidades
        </h1>
        <hr class="bg-primary h-2 w-20 dark:bg-primaryDark" />
    </div>
    <div class="grid grid-cols-4 grid-rows-3 gap-10 mt-10 mobile:max-tablet:grid-cols-1 tablet:max-desktop:grid-cols-2 mobile:max-tablet:grid-rows-12 tablet:max-desktop:grid-rows-6">
        <div>
            <CardSkill title="Java" src="https://i.imgur.com/IWCWrzu.png" />
        </div>
        <div>
            <CardSkill title="Spring Boot" src="https://i.imgur.com/U3UcXtr.png" />
        </div>
        <div>
            <CardSkill
                title="JavaScript"
                src="https://i.imgur.com/0PM30ZZ.png"
            />
        </div>
        <div>
            <CardSkill title="NodeJs" src="https://i.imgur.com/gWd1Eyd.png" />
        </div>
        <div>
            <CardSkill title="Docker" src="https://i.imgur.com/i1kNVC9.png" />
        </div>
        <div>
            <CardSkill title="ReactJs" src="https://i.imgur.com/edAhHdm.png" />
        </div>
        <div>
            <CardSkill
                title="Astro"
                src="https://i.imgur.com/llTkmWj.png"
            />
        </div>
        <div>
            <CardSkill title="SQL & NoSQL" src="https://i.imgur.com/JhKEKjV.png" />
        </div>
        <div>
            <CardSkill
                title="Testing Manual & Automatizado"
                src="https://i.imgur.com/4QbO4Dk.png"
            />
        </div>
        <div>
            <CardSkill title="NextJs" src="https://i.imgur.com/WpRkHvD.png" />
        </div>
        <div>
            <CardSkill title="Figma" src="https://i.imgur.com/vIXq4ka.png" />
        </div>
        <div>
            <CardSkill title="TypeScript" src="https://i.imgur.com/E1JQhoV.png" />
        </div>
    </div>
</section>
