 
 <main class="w-full h-screen mt-4 flex flex-row justify-around">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-normal text-wrap mb-6 text-primary dark:text-primaryDark">Hola! Soy <b>Gonzalo Amaya</b> Desarrollador Full Stack</h1>
        <button
        class="ml-5 w-[10rem] text-center border-[3px] rounded-2xl border-primary text-primary dark:border-primaryDark dark:text-primaryDark"
        >Leer Mas</button
    >
    </div>
    <div class="flex items-center">
        <img src="/public/assets/imagen-welcome.png" alt="img-welcome">
    </div>
 </main>

 <style>
    main {
        background-image: url('/public/assets/Curve-Line2.svg');
        background-repeat: no-repeat;
        background-size: auto;
    }
 </style>